{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}


<link rel="stylesheet" href="{% static 'css/button_style.css' %}">
<form class="form-horizontal" method="POST" action="" >
       <div class=" mt-5 col-lg-6 offset-3 text-uppercase text-bold ">
        <div class="box border border-dark">
            <h3 class="heading">Skills Profile</h3>
    {% csrf_token %}


    {{ formset.management_form }}

    <div id="edu-form-list">
    {% for form in formset %}

    <div class="edu-form">
        {{ form|crispy }}
        <button type="button" class="delete-form" > Delete </button>
    </div>
    {% endfor %}
        </div><br/>
    <div id="empty-form" class="hidden d-none" >{{ formset.empty_form|crispy }}</div>
            <div class="col-lg-10 text-right mb-5">

    <button type="button" class="btn btn-outline-white-primary d-flex justify-content-end" id="add-more"><i class="fa fa-plus"></i>Add More</button>

            </div>
                <div class="text-center">

                    <button type="submit" class="btn btn-outline-white-primary"><i class="fa fa-user-md"></i> Save
                    </button>
                </div>
        </div>
       </div>
</form>

<script>
       document.addEventListener('click', (event)=>{
        if (event.target.id == 'add-more') {
            add_new_form(event)
        }
        else if (event.target.classList.contains('delete-form')){
        deleteForm(event);
        }
    })
    function add_new_form(event) {
        if (event) {
            event.preventDefault()
        }
        const totalNewForms = document.getElementById('id_form-TOTAL_FORMS')
        const currentEduForms = document.getElementsByClassName('edu-form')
        const currentFormCount = currentEduForms.length // + 1
        const formCopyTarget = document.getElementById('edu-form-list')
        const copyEmptyFormEl = document.getElementById('empty-form').cloneNode(true)
        copyEmptyFormEl.setAttribute('class', 'edu-form')
        copyEmptyFormEl.setAttribute('id', `form-${currentFormCount}`)
        const regex = new RegExp('__prefix__', 'g')
        copyEmptyFormEl.innerHTML = copyEmptyFormEl.innerHTML.replace(regex, currentFormCount)
        totalNewForms.setAttribute('value', currentFormCount + 1)

        const deleteButton = document.createElement('button');
        deleteButton.setAttribute('type', 'button');
        deleteButton.setAttribute('class', 'delete-form');
        deleteButton.textContent = 'Delete';
        copyEmptyFormEl.appendChild(deleteButton);

        formCopyTarget.append(copyEmptyFormEl);
        }

        function deleteForm(event) {
        const formToDelete = event.target.parentNode;
        formToDelete.remove();

    }





</script>
{% endblock %}



