{% extends 'base.html' %}
{% block title %}
    Applicants
{% endblock %}
{% load static %}


{% block content %}




    <section class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">

                    <h1 class="heading">All applicants who applied for your position</h1>

                </div>
            </div>
        </div>
    </section>
    <section>
        <div  class="container">
            <div   class="row">
{% if wallet_balance != 0 %}
                {% for applicant in applicants %}


                    <div class="col-lg-6">

                        <div  class="box applicant ">
                            {% if wallet_balance >= 3 %}
                        <div class="blur">

                                {% if applicant.is_selected %}
                                            <a href="{% url 'select' applicant_id=applicant.id %}"
                                               class="btn btn-outline-white-secondary">
                                                <i class="fa fa-check-circle-o"></i>
                                                <span class="hidden-xs hidden-sm">selected</span>
                                            </a><br>
                                        {% else %}
                                            <a href="{% url 'select' applicant_id=applicant.id %}"
                                               class="btn btn-outline-white-secondary">
                                                <i class="fa fa-check-circle-o"></i>
                                                <span class="hidden-xs hidden-sm">Mark as </span>select
                                            </a><br>
                                        {% endif %}
                            {% endif %}

                            </div>

                            <div class="blur">
                            <h4 >{{ applicant.applicant.get_full_name }}</h4>
                            <p><strong>Applied position: {{ applicant.job.title }}</strong></p>
                                </div>

                              <div class="blur">
                            <a href="#" data-toggle="modal" data-target="#contact-modal"
                               class="btn btn-outline-white-secondary btn-sm">
                                <i class="fa fa-envelope"></i>Contact
                            </a>
                              </div>
     <div class="blur">
                            <p>
                                <span class="badge badge-info">Applied {{ applicant.date_posted.astimezone }}</span>
                            </p>

                            <div class="d-flex justify-content-between">
                                <p class="intro"></p>
                                <div class="image">
                                    <img src="{{ applicant.applicant.employeeprofile.profile_pic.url }}" alt=""
                                         class="img-fluid rounded-circle">
                                </div>


                            </div>
                                </div>
                            <div class="blur">
                            <a href="{% url 'resume-preview' %}"> view resume</a>
                            </div>

                        </div>
                    </div>
                {% endfor %}
                {% endif %}
                {% if is_paginated %}
                    <div class="row">
                        <div class="col-md-12">
                            <nav aria-label="Page navigation example" class="d-flex justify-content-center mt-4 mb-4">
                                <ul class="pagination">
                                    {% if page_obj.has_previous %}
                                        <li class="page-item">
                                            <a href="?page={{ page_obj.previous_page_number }}"
                                               class="page-link">&laquo;</a>
                                        </li>
                                    {% else %}
                                        <li class="page-item disabled">
                                            <a class="page-link">&laquo;</a>
                                        </li>
                                    {% endif %}
                                    {% for i in page_obj.paginator.page_range %}
                                        {% if page_obj.number == i %}
                                            <li class="page-item active">
                                                <a class="page-link">{{ i }}</a>
                                            </li>
                                        {% else %}
                                            <li class="page-item">
                                                <a href="?page={{ i }}" class="page-link">{{ i }}</a>
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                    {% if page_obj.has_next %}
                                        <li class="page-item">
                                            <a href="?page={{ page_obj.next_page_number }}"
                                               class="page-link">&raquo;</a>
                                        </li>
                                    {% else %}
                                        <li class="page-item disabled">
                                            <a class="page-link">&raquo;</a>
                                        </li>
                                    {% endif %}
                                </ul>
                            </nav>
                        </div>
                    </div>
                {% else %}

                {% endif %}

            </div>
        </div>
    </section>

<script>
    window.addEventListener('DOMContentLoaded', function(){
        var nameElement = document.getElementByClassName('blur');
         var deduct_balance = True
         {
         
         }
    }
</script>
{% endblock %}