

<form method="POST">
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <script>

    var options = {
        key: "{{razorpay_merchant_key}}",
        amount: "{{razorpay_amount}}",
        currency: "INR",


        order_id: "{{razorpay_order_id}}",
        callback_url: "{{callback_url}}",


        redirect: true,

        theme: {
            "color": "#3399cc"
        }
    };
    console.log(options)
    var rzp1 = new Razorpay(options);
    rzp1.open();
    </script>
    <input type="hidden" custom="Hidden Element" name="hidden">
</form>

