{% extends 'base.html' %}
{% load static %}
{% block title %}
    View Employee Profile
{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}">

<div class="container rounded bg-white mt-4 mb-5 ml-1">
    <div class="row">
        <div class="col-md-3 ">
            <div class="d-flex flex-column align-items-center text-center p-3 py-4 ">


                <span class="font-weight-bold text-uppercase">{{ employer_profile.company_name }}</span><span class=" text-dark text-black-50">{{ user.email }}</span></div>
        </div>

        <div class="col-md-5 w-auto p-3 border border-dark">
            <div class="p-2 py-3">
                <div class="d-flex justify-content-center align-items-center mb-3">
                                <h3 class="heading text-right">Profile Settings</h3>


                </div>
                <div class="row mt-2">
                    <div class="col-md-6"><label class="labels">First Name</label><input  class="form-control" placeholder="{{ user.first_name }}" readonly value=""></div>
                    <div class="col-md-6"><label class="labels">Last Name</label><input type="text" class="form-control" value="" placeholder="{{ user.last_name }}" readonly ></div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12"><label class="labels">Company Name</label><input type="text" class="form-control"
                        placeholder="{{ employer_profile.company_name }}" readonly  value=""></div>
                    <div class="col-md-12"><label class="labels">Address Line 1</label><input type="text" class="form-control" placeholder="{{ employer_profile.address_1 }}" readonly  value=""></div>
                    <div class="col-md-12"><label class="labels">Address Line 2</label><input type="text" class="form-control" placeholder="{{ employer_profile.address_2 }}" readonly  value=""></div>
                    <div class="col-md-12"><label class="labels">City</label><input type="text" class="form-control" placeholder="{{ employer_profile.city }}" readonly  value=""></div>
                    <div class="col-md-12"><label class="labels">State</label><input type="text" class="form-control" placeholder="{{ employer_profile.state }}" readonly  value=""></div>
                    <div class="col-md-12"><label class="labels">Pincode</label><input type="text" class="form-control" placeholder="{{ employer_profile.pincode }}" readonly  value=""></div>
                    <div class="col-md-12"><label class="labels">Country</label><input type="text" class="form-control" placeholder="{{ employer_profile.country }}" readonly  value=""></div>
                    <div class="col-md-12"><label class="labels">Mobile Number</label><input type="text" class="form-control" placeholder="{{ employer_profile.mobile }}" readonly  value=""></div>
                </div>


               <div class="text-center mt-4 mb-3">
                    <a href="{% url 'employer-profile-update' %}" class="btn btn-outline-white-primary"><i class="fa fa-user-md"></i> Update Profile
                    </a>
                </div>
             <div class="text-center">
                    <a href="" class="btn btn-outline-white-primary" data-toggle="modal" data-target="#deleteModal"><i class="fa fa-user-md"></i> Delete Profile
                    </a>
                  <div class="modal" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" role="document">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Confirm delete</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete thia Job?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <form method="post" action="{% url 'employer-profile-delete' %}">
              {% csrf_token %}

              <button type="submit" class="btn btn-danger">Delete </button>
          </form>

      </div>
    </div>
  </div>
</div>
                </div>
            </div>
        </div>

    </div>
</div>
</div>

</div>

{% endblock %}